<mat-toolbar color="primary" *ngIf="authService.isAuth">
    <span>
      <a routerLink="/">Xeda Fixer</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/createPost" *ngIf="role == 'ADMIN'">Dodaj Zlecenia</a>
      </li>
      <li>
        <a mat-button routerLink="/">Pokaż Zlecenia</a>
      </li>
      <li>
        <a mat-button routerLink="/fixed" *ngIf="role == 'ADMIN'">Baza Zleceń</a>
      </li>
      <li>
        <a mat-button (click)="onLogout()">Logout</a>
      </li>
    </ul>
</mat-toolbar>